@import '_mixins/background';

$central-background-color: #0077FF;
$outside-background-color: #0E63C2;
$header-height: 60px;
$footer-height: 50px;

.fullpage {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  @extend .fullpage;
  @include fuzzy-background("../img/noise.png", $central-background-color, $outside-background-color);
}

body {
  @extend .fullpage;
}

.center {
  margin: auto;
  width: 50%;
}

.top-bar {
  position: fixed;
  z-index: 10;
}

.header {
  height: $header-height;
  margin-top: 50px;
}

.main {
  font-family: "Helvetica Neue";
  font-weight: 400;
  margin: 10px auto;
  width: 700px;
  background: #EDE3A4;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.footer {
  height: $footer-height;
  position: relative;
}

.base {
  min-height: 100%;
  height: 100%;
  position: relative;
}

.container {
  min-height: 100%;
  margin-bottom: (-$footer-height);
  position: relative;
}

.clearfooter {
  height: 50px;
  clear: both;
}
