.text-container { width:980px; margin:0 auto; }
.header-wrapper {
  margin:0 0 20px 0; 
}
.header {
  height:100px;
  padding:20px 0 0 0;
}

.header-text {
  font:70px Georgia, serif;
}
 
.navbar-wrapper {
  width:100%;
  height:50px;
}

.navbar {
  width: inherit;
  position: relative;
  height:50px;
}
.navbar ul { list-style:none; margin:0; padding:5px; }
.navbar ul li { margin:0; padding:0; display:inline; }
.navbar ul li a { display:block; float:left; margin:0 0 0 5px; padding:0 20px; height:40px; line-height:40px; font-size:14px; font-family:Arial, serif; font-weight:bold; color:#ddd; background:#333; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.navbar ul li a:hover, #sticky_navigation ul li a.selected { color:#fff; background:#111; }
