<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ site.url }}/img/s.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/default.css">
    <meta name='author' content='Sean Kenny' />
    <script src='{{ site.url }}/js/jquery/jquery-2.1.1.js'></script>
    <script src='{{ site.url }}/js/stickynav.js'></script>
    <script src='{{ site.url }}/js/navbar.js'></script>
  </head>

  <body>
    <div class='container'>
      <div class='center base'>
        <header class="navigation sticky">
          <div class="menu-wrapper">
            <a href="/" class="logo">
              <img src="/img/placeholder.png" alt="">
            </a>
            <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
            <div class="nav">
              <ul id="navigation-menu">
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="/aboutme">About Me</a></li>
                <li class="nav-link"><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </header>
        <div class='main'>
          {{ content }}
        </div>
        <div class='clearfooter'></div>
      </div>
      <div class='footer full-bar'>
        <div class='center footer'>&copy; Sean Kenny 2014</div>
      </div>
    </div>
  </body>
</html>
