<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/img/s.ico">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <meta name='author' content='Sean Kenny' />
    <script src='js/jquery/jquery-2.1.1.js'></script>
    <script>
      $(function() {
        var sticky_navigation_offset_top = $('.sticky').offset().top;
        var sticky_navigation = function(){
          var scroll_top = $(window).scrollTop(); // our current vertical position from the top
          if (scroll_top > sticky_navigation_offset_top) {
            $('.sticky').css({ 'position': 'fixed', 'top':0, 'left':0 });
            } else {
            $('.sticky').css({ 'position': 'relative' });
          }
        };

        sticky_navigation();

        $(window).scroll(function() {
          sticky_navigation();
        });

        $('a[href="#"]').click(function(event){
          event.preventDefault();
        });
      });
    </script>
  </head>

  <body>
    <div class='container'>
      <div class='center base'>
        <div class='.header-wrapper'>
          <div id="demo_top">
            <div class="text-container">
              <div class="header-text">Sean Kenny</div>
            </div>
          </div>
          <div class='navbar-wrapper'>
            <div class='sticky navbar'>
              <div class="demo_container">
                <ul>
                  <li><a href="#" class="selected">HOME</a></li>
                  <li><a href="#">About Me</a></li>
                  <li><a href="https://github.com/sean-kenny">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='main'>
          {{ content }}
        </div>
        <div class='clearfooter'></div>
      </div>
      <div class='footer full-bar'>
        <div class='center footer'>&copy; Sean Kenny 2014</div>
      </div>
    </div>

    <!-- Fork me on github banner -->
    <a href="http://github.com/sean-kenny"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
