<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/img/s.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <meta name='author' content='Sean Kenny' />
  </head>

  <body>
    <div id="demo_top_wrapper">
      <div id="demo_top">
        <div class="demo_container">
          <div id="my_logo">Our logo</div>
        </div>
      </div>
      <div id="sticky_navigation_wrapper">
        <div id="sticky_navigation">
          <div class="demo_container">
            <ul>
              <li><a href="#" class="selected">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">SERVICES</a></li>
              <li><a href="#">CLIENTS</a></li>
              <li><a href="#">PARTNERS</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='center base'>
      <div class='container'>
        <div class='main'>
          {{ content }}
        </div>
        <div class='clearfooter'></div>
      </div>
      <div class='footer full-bar'>
        <div class='center footer'>&copy; Sean Kenny 2014</div>
      </div>
    </div>

    <!-- Fork me on github banner -->
    <a href="http://github.com/sean-kenny"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
